/* Body style */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

body::before {
    content: '';
    background-image: url('../src/background.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}

/* Form style */
.form{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Title style */
.title {
    font-size: 30px;
    margin-bottom: 20px;
}

/* Labels style */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Form inputs style*/
input[type="text"],input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Submit button style */
input[type="submit"] {
    background-color: #7c59cd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3b2857;
}


